* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    box-sizing: border-box;
    --med-pad: 10px;
    font-size: 10px;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.head-block {
    background-color: #328BE0;
    color:white;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: center;
}

@media screen and (max-width: 800px) {
    .head-block {
        display: flex;
        flex-direction: column;
    }
    .head-block div {
        min-width: max-content;
    }
}

.head-block h1 {
    font-size: 1.25rem;
    text-align: left;
    align-self: center;
}

.head-block div {
    text-align: center;
    width: 35vw;
    text-align-last: justify;
    align-self: center;
}

.head-block div p {
    display: inline-block;
    font-size: 0.75rem;
}

.head-block div p a {
    color: inherit;
    text-decoration: inherit;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding: .15rem;
    border-radius: .5rem;
}

.head-block div p a:hover{
    color: #FFB63E;
    border-color: #FFB63E;
}
.Background-Image {
    height: auto;
    width: 80vw;
    align-self: center;
}

.grid-area-1{
    margin: 5vh 10vw 0px;
    display:grid;
    grid-template-columns: 20vw 30vw 30vw;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

.grid-area-2{
    margin: 5vh 10vw 0px;
    display:grid;
    grid-template-columns: 20vw 60vw;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

.content-grid h2 {
    text-align: right;
    margin-right: 1vw;
    padding-right: 1vw;
    border-right: 1vw solid;
    border-color: #61CDE9;
}

.App-Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-pic{
    height: auto;
    width: 26vw;
    border-radius: 1rem;
}

/* .App-Info {
    height: 25vh;
    width: 45%;
    margin: .5rem;
    position:relative;
} */

#First-App {
    width: 300px;
    height: 350px;
}

/* .App-Info a img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    border-width: 0.5vw;
    border: #61CDE9 solid;
} */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.App-Info {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 0.5rem;
    border-radius: 1rem;
  }

.App-Info a{
    text-decoration: auto;
    color: white;
    border-radius: 1rem;
}

.skillsTextDiv p{
    margin-top: 0.25rem;
    display: inline-block;
    border: white solid 1px;
    padding: 2px;
}

  .App-Info-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .App-Info:hover .App-Info-inner {
    transform: rotateY(180deg);
  }

  .App-Info-Img, .App-Info-Text {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .App-Info-Img {
    background-color: white;
    color: black;
  }

  .App-Info-Text {
    background-color: #61CDE9;
    color: white;
    transform: rotateY(180deg);
    border-radius: 1rem;
  }

footer {
    background-color: #9BD093;
    color:white;
    height: 20vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
}

footer h2 {
    align-self: center;
    justify-self: center;
}

footer ul {
    list-style-type: none;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10vw 0px 0px;
    flex-wrap: wrap;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: inherit;
    text-decoration: inherit;
}

footer ul li a:hover{
    color: #FFB63E;
}

/* Image Cycler */
#container {
overflow: hidden;
position: relative;
height: 200px;
}

.imgCycler {
position: absolute;
width:auto;
height:200px;
}
#previous{
position: absolute;
right: 80%;
top: 1rem;
font-size: 2rem;
border: solid 2px;
padding-top: 7rem;
padding-bottom: 7rem;
padding-left: 0.5rem;
padding-right: 0.5rem;
}

#next {
position: absolute;
right: 10%;
top: 1rem;
font-size: 2rem;
border: solid 2px;
padding-top: 7rem;
padding-bottom: 7rem;
padding-left: .5rem;
padding-right: 0.5rem;
}
@media screen and (min-width: 800px) {
    :root{
        font-size: 16px;
    }
    #container {
        overflow: hidden;
        position: relative;
        height: 400px;
        }

        .imgCycler {
        position: absolute;
        width:auto;
        height:400px;
        }
        #previous{
        position: absolute;
        right: 80%;
        top: 15%;
        font-size: 4rem;
        border: solid 2px;
        padding-top: 7rem;
        padding-bottom: 7rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        }

        #next {
        position: absolute;
        right: 15%;
        top: 15%;
        font-size: 4rem;
        border: solid 2px;
        padding-top: 7rem;
        padding-bottom: 7rem;
        padding-left: .5rem;
        padding-right: 0.5rem;
        }
}